/* basic variables set up */

/* colors */
$background-color : #FFFFFF;
$accent-color : #627E90;

/* text colors */
$text-dark : #14191D;
$text-grey : #6A6C6E;
$text-light: #FAFCFE;
$text-bg-grey: #F1F2F5;
$text-bg-light: #FFFFFF;

/* context colors */
$color-white: #fff;
$color-gainsboro: #e1e6ee;
$color-gray-100: #0b0e1f;

$primary-bg: $background-color;

/* Gaps */
$gap-7xl: 15px;

/* Paddings */
$padding-lg: 18px;

/* border radiuses */
$br-9xs: 4px;

/* fonts */
$font-work-sans: "Work Sans";

/* font sizes */
$font-size-2xl: 21px;
